<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Task</title>
</head>
<body>
<h2>Edit Current Task</h2>
<form action="" th:action="@{/updateTask}" th:object="${currentTask}" method="post">
    <p>New Task Name: <input th:field="*{taskName}" type="text" name="taskName" id="taskName" th:value="${taskName} ? ${taskname} : ${currentTask.getTaskName()}"></p>

    <label for="completed">Completion Status</label>
    <input id="completed" type="checkbox" name="completed" th:checked="${currentTask.isCompleted()}" />
    <p>New Note: <input th:field="*{note}" type="text" name="note" id="note" th:value="${note} ? ${note} : ${currentTask.getNote()}"></p>
    <p>New Due Date: <input th:field="*{dueDate}" type="datetime-local" name="dueDate" id="dueDate" th:value="${dueDate} ? ${#dates.format(dueDate, 'yyyy-MM-ddTHH:mm')} : ${currentTask.getDueDate()}"></p>

    <input type="hidden" name="id" id="id" th:value="${currentTask.getId()}">
    <input type="hidden" name="createdTime" id="createdTime" th:value="${#dates.format(currentTask.getCreated(), 'yyyy-MM-dd HH:mm:ss.SSS')}">
    <input type="hidden" name="userId" id="userId" th:value="${currentTask.getUserID()}">
    <p><input type="submit" value="submit"></p>
</form>
</body>
</html>