<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <style>
        *{
            background: burlywood;
            color: saddlebrown;
            font-family: "courier New", monospace;
        }
        .head{
            text-align: center;


        }
        .btn {
            transition-duration: 0.4s;
            border-color: saddlebrown;
            border-radius: 8px;

        }

        .btn:hover {

            background-color: saddlebrown;
            color: white;
        }
    </style>
    <title>Login</title>
    <h1 class="head">Welcome to our Planner application</h1>
    <hr>
    <hr>


</head>

<h2>Login:</h2>
<!--<form action="http://localhost:8080/"> this makes it go to the main page-->
<form name="loginInfo" action="loginInfo" method="POST">
    <label>User name:</label><br>
    <input type="text"  name="userName"><br><br>
    <label >Password:</label><br>
    <input type="text" name="passWord">
    <input class="btn" type="submit" value="Submit">

</form>



</body>
</html>